
/* Metricas */

.st-emotion-cache-1r19jps, e1f1d6gn2 {
    box-shadow: 3px 3px 3px 3px #031d4d;
    padding: 10px;
    border-radius: 5px
}

.st-emotion-cache-12w0qpk, e1f1d6gn3 {
    box-shadow: 3px 3px 3px 3px #031d4d;
    padding: 10px;
    border-radius: 5px
}

/* Graficos */
.user-select-none, svg-container {
    box-shadow: 3px 3px 3px 3px #031d4d;
    padding: 10px;
}
